
<div class="slider">
    <div class="list">
      <div class="item">
        <img src="https://i.ibb.co/zrJctJ2/KTCN.png" alt="KTCN" border="0">
      </div>
      <div class="item">
        <img src="https://i.ibb.co/N7MgGN3/TKWS.png" alt="TKWS" border="0">
      </div>
      <div class="item">
        <img src="https://i.ibb.co/vL5kV8q/LTHDT.png" alt="LTHDT" border="0">
      </div>
      <div class="item">
        <img src="https://i.ibb.co/HXqWK0D/TTNT.png" alt="TTNT" border="0">
      </div>
      <div class="item">
        <img src="https://i.ibb.co/VjyN8VZ/DTDM.png" alt="DTDM" border="0">
      </div>
    </div>
    




    <div class="buttons">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <ul class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
